<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}

<h1>Все Новости</h1>
<hr>

<h3>Всего статей: {{news|length}}</h3>
    {% if news %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата пубикации</td>
            <td>Текст</td>
        </tr>
        {% for new in news %}
        <tr>
            <td>{{new.title}}</td>
            <td>{{new.publication_date|date:'d.M.Y'}}</td>
            <td>{{new.text}}</td>
        </tr>
        {% endfor %}
    </table>

{% else %}
<h2>Новостей нет!</h2>
{% endif %}
    {% if is_not_author %}
        <button><a href="sign/upgrade/">Стать автором!</a></button>
    {% endif %}
    <br><br><br><hr>
{# Добавляем пагинацию на страницу #}

{# Информация о предыдущих страницах #}
 {% if page_obj.has_previous %}
      `<a href="?{% url_replace page=1 %}">1</a>`
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}